@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Nunito", sans-serif;
    background: #000000;
}

body {
    display: flex;
    flex-direction: column;
}

code {
    font-family: "Source Code Pro", sans-serif;
}

ul {
    padding-left: 3%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

header, div {
    z-index: 1;
    position: relative;
}

header {
    text-align: center;
    justify-content: center;
    margin: 4% auto 1%;
    padding: 10px;
    width: 40%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
#categories {
    margin: 2% auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    padding: 10px;
    text-align: center;
}

#textbox {
    width: 70%;
    margin: 5% auto;
    background: rgba(255, 255, 255, 0.9);
    font-size: 17px;
    border-radius: 10px;
    padding: 1.2% 2%;
    height: 100vh;
    overflow: auto;
}

div#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#homeText {
    font-size: 18px;
}

.category {
    cursor:pointer;
    font-weight: bold;
    padding: 5px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}


.content {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.content.active {
    opacity: 1;
}

a:link, .category:link, a:visited, .category:visited {
    color: #797979;
}
a:hover, .category:hover {
    color: #343434;
}

@media only screen and (max-width: 768px) {
    header {
        width: 75%;
    }

    #categories {
        flex-direction: column;
        align-items: center;
    }

    #textbox {
        width: 90%;
    }
}