@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.fade {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.main-content {
    visibility: hidden;
}

#splash-components {
    top: 75%;
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

#splash-components.fade {
    opacity: 0;
}

#line {
    width: 90%;
    height: 2px;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
}

span.splash {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 15%;
    font-size: 18px;
}

h1.splash, p.splash {
    flex-direction: row;
    margin: 0;
}

h1.splash {
    flex: 1.1;
    text-align: right;
}

p.splash {
    flex: 1;
    font-family: 'Press Start 2P', sans-serif;
    cursor: pointer;
    animation: blinker 2s linear infinite;
    position: relative;
    top: 25%;
}

@keyframes blinker {
    50% {
      opacity: 0.3;
    }
}